allow init su process { transition siginh rlimitinh noatsecure }
allow su shell_exec file { read getattr map execute entrypoint open }
allow su system_file file { read getattr map execute entrypoint open }
